
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style type="text/css">
        .container, .row {
            height: 100%;
            min-height: 100%;
        }

        html, body {
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="alert alert-danger"><h1>Error page</h1></div>
        </div>
    </div>
</body>
</html>
